.attribution { font-size: 11px; text-align: center; }
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      overflow: hidden;
      font-family: 'Kumbh Sans', sans-serif;
    }
    .container {
      height: 100vh;
      background: url(../images/bg-pattern-top.svg) top -520px left -230px no-repeat,
      url(../images/bg-pattern-bottom.svg) bottom -585px right -250px no-repeat;
    background-color:hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 35%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;

    }
    @media (max-width: 375px){
      .container{
      background: url(../images/bg-pattern-top.svg) top -520px left -730px no-repeat, url(../images/bg-pattern-bottom.svg) bottom -520px right -730px no-repeat;
      height: 100vh;
    background-color:hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 35%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
      }
    }
    .card {
      position: relative;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 350px;
      height: 370px;
      border-radius: 20px;
    }
    .card .img{
      position: absolute;
      background: url(./images/bg-pattern-card.svg) top 100px left 100px repeat-x;
      width: 100%;
      height: 100%;
    }
    .card .foto img {
      position: relative;
      border-radius: 50%;
      border: 6px solid rgba(255,255,255, 1);
      
    }
    .pessoa {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;;
    }
    .pessoa p:first-child{
      margin-top: 1rem;
      font-weight: 700;
    }
    .pessoa p:last-child{
      margin-top: 0.5rem;
      font-size: 80%;
    }
    span {
      font-weight: 400;
    }
    .hr {
      width: 100%;
      background-color:rgba(0,0,0,0.1);
      height: 1px;
      margin: 1rem;
    }
    .ult {
      position: absolute;
      display: flex;
      bottom: 0;
      margin-bottom: 2rem;
      text-align: center;
    
    }
    .one {
      margin-right: 3rem;
    }
    .two {
      margin-right: 3rem;
    }
    .foo p{
      font-size: 0.75rem;  
    }
